.main-nav{ /*agregar estilo al contenedor de nav*/
    margin-top: 10px;
    list-style: none; /* colocar "none" sirve para dejar sin puntos a las listas*/
    padding-left: 0px; /*padding es una dimesion interna, un espacio interno en un contenedor como una especie de sangría*/
    background-color: #13a4a4;/*agregar un color de fondo*/
}

.main-nav__item { /*agregar estilo a la distribucion de los items que estan dentro del nav (los li)*/
    display: inline-block;/*menu de forma horizontal*/
}

.main-nav__item a{/* a todas las etiquetas a que estan dentro de main-nav__item agregales esto: b */
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    /*background-color: red;*/
}

.main-nav__item a:hover{/* hover: mouse sobre el elemento*/ /*ESTO ES UNA PSEUDOCLASE, SE LLAMA CON :*/
    color: blue;
}

.main-nav__item a:active{/*active es cuando doy click en el elemento*/
    color:red;
}

.main-nav__item a::after{/*ESTO ES UN PSEUDOELEMENTO, SE LLAMA CON ::*/
    content: " | ";
}

.main-section{
    margin-top: 20px;
    list-style: none;
    padding-left: 20px;
}

.main-section__item a{
    color: black;
    background-color: yellow;
}

.main-section__item a:hover{
    color: red;
}

.main-section__item a:active{/*active es cuando doy click en el elemento*/
    color:green;
}