* { /* este es un selector universal*/
    box-sizing: border-box; /*elimina el borde por defecto que aplica el navegador*/
    padding: 0;
    margin: 0;
}

main {
    width: 100%;/*que tan grande es esta etiqueta*/
    height: 500px; /*que tan alto*/
    border: 10px solid grey; /* color del borde*/
    padding: 20px 35px; /* 20px es para arriba y abajo 35px es para izquierda y derecha*/
}