* { /* este es un selector universal*/
    box-sizing: border-box; /*elimina el espacio por defecto que aplica el navegador*/
    padding: 0;/*deja en cero el padding o espacio interno*/
    margin: 0; /* deja en cero el margen o espacio externo*/
}

main {
    width: 100%;/*que tan grande es esta etiqueta*/
    height: 500px; /*que tan alto*/
    border: 10px solid grey; /* color del borde*/
    padding: 20px 35px; /* 20px es para arriba y abajo 35px es para izquierda y derecha*/
}