* { /* este es un selector universal*/
    box-sizing: border-box; /*elimina el borde por defecto que aplica el navegador*/
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
}